{% extends 'base.html' %}

{% block title %}My Top 10 Movies{% endblock %}

{% block content %}
<div class="container">
  <h1 class="heading">My Top 10 Movies</h1>
  <p class="description">These are my all-time favourite movies.</p>
   

  {% for each_movie in movies %}
  <div class="card" >
    <div class="front" style="background-image: url({{each_movie.img_url}});">
        <p class="large">
          {{each_movie.id}}
        </p>
    </div>
    <div class="back">
      <div>
    <div class="title">{{each_movie.title}} <span class="release_date">{{each_movie.date}}</span></div>
        <div class="rating">
            <label>{{each_movie.rating }}</label>
          <i class="fas fa-star star"></i>
        </div>
          <p class="review">{{each_movie.review}}</p>
        <p class="overview">
           {{each_movie.description}}
        </p>

        <a class="button" href="{{url_for('edit', num = each_movie.id)}}">Update</a> 
        <a href="{{url_for('delete', num=each_movie.id)}}" class="button delete-button">Delete</a>

      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="container text-center add">
<a href="{{url_for('add')}}" class="button">Add Movie</a>
</div>

{% endblock %}