<!DOCTYPE html>
<html lang="en">
    

    {% include 'header.html' %}


    <body>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/home.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Angela's Blog</h1>
                            <span class="subheading">A collection of Angela's random musings</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">


                {% for blog_post in posts: %}    
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{{ url_for('get_post', num=blog_post['id']) }}">
                            <h2 class="post-title">{{blog_post['title']}}</h2>
                            <h3 class="post-subtitle">{{blog_post['subtitle']}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{blog_post['author']}}</a>
                            on {{blog_post['date']}}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                
                {% endfor %}

                

                <!-- Divider-->
                <hr class="my-4" />
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>

                
                </div>
            </div>
        </div>

        
        {% include 'footer.html' %}



    </body>
</html>
