<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Load Bootstrap-Flask CSS here -->
    <!-- Bootstrap CSS -->
    {% block styles %}
    {{ bootstrap.load_css() }}
    {% endblock %}
    <!-- Link to the styles.css here to apply styling to all the child templates.-->
    <link rel="stylesheet" href="{{ url_for("static", filename="css/styles.css") }}">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
